.minimize {
    display: inline-block;
    height: 1.3em;
    width: 1.3em;
    background-color: red;
    text-align: center;
    vertical-align: middle;
    color: white;
    box-sizing: border-box;
    margin-right: 2 px;
    border-radius: 2px;
    border: 1px white solid;
    align-self: center;
    cursor: pointer;
    user-select: none;
}

.header {
    display: flex;
    flex-direction: row-reverse;


    height: 1.5em;
    background-color: blue;
}

.floating-window {
    cursor: grab;
    border-radius: 5px 5px 0px 0px;
    overflow: hidden;
    border: solid 2px gray;
    z-index: 100;
    position: fixed;
}